<div id="storyline_form" class="input-group">
  <% @storyline = Storyline.new %>
  <%= form_for(@storyline) do |f| %>
    <%= f.text_field :story_name, placeholder: "name this story!", required: true, autofocus: true %>
    <%= f.label "how many players?" %>
    <%= f.select :num_players, options_for_select(%w[2 3 4 5 6 7 8 9 10]) %> <br>
    <%= f.submit "send it", class: "btn btn-default" %>
  <% end %>
  <br>
</div>
<%= params %>
<% if params[:players] %>
  <div id="player_form" class="input-group">
    <% @player = Player.new %>
    <%= form_for(@player) do |p| %>
      <div id="player_fields">
        <%= p.text_field :name, placeholder: "enter player's name" %>
        <%= p.text_field :email, placeholder: "enter player's email address" %>
        <%= hidden_field :storyline_id, @storyline.id %> <br>
      </div>
      <%= p.submit "send it", class: "btn btn-default" %>
    <% end %>

  </div>
<% end %>
<div style="margin-top: 30px;">
  <%= link_to 'back', root_path %>
</div>
