 <div class="input-group">
  <!-- begin sketch -->
  <div id='color_drawing'>
    <div class='tools'>
    </div>
    <canvas id='drawing' width='400' height='300'></canvas>
  </div>
  <!-- end sketch -->
 
  <%= form_for(@picture) do |f| %>
    <% if current_user %>
        <%= f.text_field :name, placeholder: "by #{current_user.name}" %> 
        <%= hidden_field_tag :name, current_user.name %></br>
        <%= hidden_field_tag :picture_name, current_user.name %></br>
    <% else %>
        <%= f.text_field :name, placeholder: "enter your name to sign" %> </br>
    <% end %>
    <%= f.hidden_field :image %>
    <%= hidden_field_tag :storyline_id, @storyline.id %>
    <%= hidden_field_tag :turn_number, @turn %>
    <button type="button" id="clear" class="btn btn-default">
      <i class="fa fa-fast-backward"></i> start over
    </button>
    <button type="submit" id="submit_button" class="btn btn-default">
      <i class="fa fa-plus"></i> add picture
    </button>
  <% end %>
</div>

