<div class="input-group" id="show_story">
  <h1><%= @storyline.story_name %></h1>
    <% @phrases = Phrase.where(storyline_id: @storyline.id) %>
    <% @pictures = Picture.where(storyline_id: @storyline.id) %>    
    <% @pictures.each_with_index do |picture, index| %>
      <h3><%= @phrases[index].text %>  
      <i><small> - <%= @phrases[index].name? ? @phrases[index].name : "anon" %>
        </i></h3></small>
      <img src='<%= picture.image %>'> </br> 
        <small><h3> - <i><%= picture.name? ? picture.name : "anon" %></i></small></h3>
    <% end %>
</div>
<div>
  <button id="play_button" class="btn btn-success">
    <i class="fa fa-phone-square"></i> 
    <i class="fa fa-picture-o"></i> play
  </button>
</div>