<!-- display storylines -->
<% if params["list"] %>
	<div id="all_storylines">
	<%= render 'all_storylines' %>
	</div>
<% elsif params["esplain"] %>
	<div id="esplain">
		<%= render 'esplain' %>
	</div>
<% elsif params["show_story"] %>
	<div id="show_stories">
		<%= render 'show_storyline' %>
	</div>
<% else %>
	<div id="new_phrases">
		<!-- append newly created phrase -->
	</div>
	<div id="new_drawings">
		<!-- append newly created storyline -->
	</div>

	<!-- render form to add a phrase or a picture -->
	<% if @turn == nil || @turn.odd? %>
		<div id="phrase_instructions">
			<h4><small><i class="fa fa-pencil"></i> Write a phrase to describe the picture below:</small></h4>
		</div>
		<div id="drawings">
			<% if Picture.last %>
		  	<img src="<%= Picture.last.image %>">
		  <% end %>
		</div>
		<%= render partial: 'phrase_form' %>

	<% elsif @turn.even? && @turn != 0 %>
		<div id="picture_instructions">
			<h4><small><i class="fa fa-picture-o"></i> Draw a picture to describe the phrase below:</small></h4>
		</div>
		<div id="phrases">
			<h4 class="subheader">
			<% if Phrase.last %>
		  	<%= Phrase.last.text %></h4>
		  <% end %>
		</div>
		<%= render partial: 'picture_form' %>
	<% end %>
<% end %>
