<!-- display storylines -->
<% if params["list"] %>
	<div id="all_storylines">
	<%= render 'all_storylines' %>
	</div>
<% elsif params["esplain"] %>
	<div id="esplain">
		<%= render 'esplain' %>
	</div>
<% else %>
	<div id="new_phrases">
		<!-- append newly created phrase -->
	</div>
	<div id="new_drawings">
		<!-- append newly created storyline -->
	</div>
	<div id="further">
		<!-- append sharing buttons -->
	</div>
	<!-- render form to add a phrase or a picture -->
	<% if @turn == nil || @turn.odd? %>
		<div id="phrase_instructions">
			<h4><small><span class="glyphicon glyphicon-pencil"></span> Write a phrase to describe the picture below:</small></h4>
		</div>
		<div id="drawings">
			<% if Picture.last %>
		  	<img src="<%= Picture.last.image %>">
		  <% end %>
		</div>
		<%= render partial: 'phrase_form' %>

	<% elsif @turn.even? && @turn != 0 %>
		<div id="picture_instructions">
			<h4><small><span class="glyphicon glyphicon-picture"></span> Draw a picture to describe the phrase below:</small></h4>
		</div>
		<div id="phrases">
			<h4 class="subheader">
			<% if Phrase.last %>
		  	<%= Phrase.last.text %></h4>
		  <% end %>
		</div>
		<%= render partial: 'picture_form' %>
	<% end %>
<% end %>

<!-- try to add like button for facebook -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
