<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TelephonePictionary" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TelephonePictionary</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <% if current_user %>
            <li><%= link_to "Hello #{current_user.name}", "#" %></li>
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook to share", "/auth/facebook" %></li>
          <% end %>
          <!-- <li><%#= link_to "Create New Storyline", new_storyline_path %></li> -->
          <li><%= link_to "See Storylines", root_path(list: true) %></li>
          <li><%= link_to "What is TelephonePictionary?", root_path(esplain: true) %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
         
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <%= social_share_button_tag(:title, :url => "http://tele-pictionary.herokuapp.com/") %>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
